<%= form_for @document, :html => { :multipart => true } do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :document_number %><br />
    <%= f.text_field :document_number %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br />
    <%= f.text_field :department_id %>
  </div>
  <div class="field">
    <%= f.label :document_image %><br />
    <%= f.file_field :document_image %>    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
